/* Write your CSS here */
.main-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
}
.bg-container {
  background-color: linear-gradient(#ff6e7f, #bfe9ff, to bottom);
  height: 50vh;
  width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
}
.description {
  color: #1e293b;
  font-size: 20px;
  font-family: 'Roboto';
}
.button {
  background-color: #ffffff;
  border: solid 2px #0f172a;
  color: #1e293b;
  border-radius: 5px;
}
.note {
  color: #1e293b;
  font-size: 8px;
  font-family: 'Roboto';
}
